.create-acc-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px rgb(170, 135, 135);
}

.login-form-button {
  float: right;
}

.flex-justify {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.jus-between {
  display: flex;
  justify-content: space-between;
}