.create-acc-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px rgb(170, 135, 135);
}

.login-form-button {
  float: right;
}

.flex-justify {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.jus-between {
  display: flex;
  justify-content: space-between;
}

/* Chat box */
.messenger {
  background: white;
  width: 90%;
  height: 50%;
  font-size: 17px;
  margin: 6px;
  border: 1px dashed rgb(8, 212, 185);
  border-radius: 2%;
  position: relative;
  padding-bottom: 0px;
}

.message-header {
  position: absolute;
  top: 5px;
  text-align: center;
  width: 100%;
}

.message-body {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  height: 500px;
}

.message-text {
  width: fit-content;
  padding: 6px 15px;
  border-radius: 50px;
  background: royalblue;
  color: white;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 65%;
  text-align: left;
}

.message-time {
  font-size: 12px;
  display: inline;
}

/* Message send vs input */
.message-input {
  position: absolute;
  bottom: 0;
}

.messenger input {
  border-radius: 50px;
  margin-left: 10px;
  margin-bottom: -20px;
  text-indent: 10px;
}

.messenger button {
  border-radius: 50px;
  margin-right: 10px;
}

.homePage{
  margin: auto;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 15%;
}